<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">
    <servlet>
        <servlet-name>textsearch</servlet-name>
        <servlet-class>com.google.appengine.demos.search.TextSearchServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- JSPC servlet mappings start -->

    <servlet>
        <servlet-name>org.apache.jsp.index_jsp</servlet-name>
        <servlet-class>org.apache.jsp.index_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.display_jsp</servlet-name>
        <servlet-class>org.apache.jsp.display_jsp</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.index_jsp</servlet-name>
        <url-pattern>/index.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.display_jsp</servlet-name>
        <url-pattern>/display.jsp</url-pattern>
    </servlet-mapping>

<!-- JSPC servlet mappings end -->

<servlet-mapping>
        <servlet-name>textsearch</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
</web-app>

